<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--/*@thymesVar id="owner" type="info.sandroalmeida.springpetclinic.model.Owner"*/-->

    <h1 th:text="'List of Owners'">List of Owners...</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner:${owners}">
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">Sandro</td>
                <td th:text="${owner.lastName}">Almeida</td>
            </tr>
        </tbody>
    </table>
</body>
</html>